                                                     SHARK ATTACK PROJECT


'O PROJETO TEM COMO OBJETIVO ANALISAR OS ATAQUES DE TUBARÕES AO REDOR DO MUNDO E COLETAR INFORMAÇÕES ÚTEIS A AQUELES QUE COSTUMAM FREQUENTAR AS PRAIAS, PRINCIPALMENTE AOS ADEPTOS À PRATICA DE SURF'

OBJETIVOS:
A PRÁTICA DOS CONHECIMENTOS APRENDIDOS NO CURSO DE ANÁLISE DE DADOS UTILIZANDO O PYTHON

DESCRIÇÃO DAS FERRAMENTAS UTILIZADAS:
   AS TECNICAS DE TRATAMENTO E LIMPEZA DOS DADOS UTILIZANDO AS FERRAMENTAS DO PYTHON (LIVRARIAS,FUNÇÒES, MÉTODOS, ETC.) ESTÃO DESCRITAS PASSO A PASSO NO CABEÇALHO DOS CÓDIGOS PARA FACILITAR A VISUALIZAÇÃO EM CASO DE EXECUÇÃO PARA PROJETOS COMPARTILHADOS

PERGUNTAS:
1) QUAIS OS PAÍSES COM MAIOR NÚMERO DE ATAQUE E POR QUÊ?
1-USA                 2229 
2-AUSTRALIA           1338
3-SOUTH AFRICA         579
4-PAPUA NEW GUINEA     134
5-NEW ZEALAND          128
CONCLUSÃO: A DENSA POPULAÇÃO TURÍSTICA, A EXTENSA COSTA E A VASTA QUANTIDADE DE ATIVIDADES AQUÁTICAS CONTRIBUEM PARA QUE OS EUA MANTENHA A LIDERANÇA EM NÚMERO DE ATAQUES, SEGUIDO DA AUSTRALIA, QUE É UM DOS PAÍSES AONDE O SURF É UM DOS ESPORTES PREFERIDOS POR SUAS ONDAS PERFEITAS. AS OUTRAS TRÊS LOCALIDADES QUE SEGUEM
TAMBÉM SÃO MUITO CONHECIDAS PELA PRÁTICA DO SURF


2) QUAL AS 5 PRINCIPAIS ATIVIDADES AQUÁTICAS QUE ATRAEM OS TUBARÕES E POR QUÊ? QUAIS AS PROPORÇÕES QUANTO À ATAQUES FATAIS? E PORQUE?
1-Surf             971 (COM 229 CASOS FATAIS, 26%)
2-Nado             869 (COM 312 CASOS FATAIS, 36%, ALTO ÍNDICE DE FATALIDADDE DEVIDO À MAIOR VULNERABILIDADE)
3-Pesca            431 (COM 52 CASOS FATAIS, 12%)
4-Caça submarina   333 (COM 65 CASOS FATAIS,22%)
5-Banho recreativo 162 (COM 75 CASOS FATAIS, 46%, ALTO ÍNDICE DE FATALIDADDE DEVIDO À MAIOR VULNERABILIDADE)
  CONCLUSÃO: AS ATIVIDADES AQUÁTICAS ACIMA MOSTRAM QUE OS TUBARÕES SÃO SENSÍVEIS À MOVIMENTOS, INDICANDO QUE OS ATAQUES ACONTECEM NORMALMENTE QUANDO SE SENTEM
AMEAÇADOS.
  O SURF É A ATIVIDADE QUE MAIS CHAMA A ATENÇÃO DOS TUBARÕES, COM OS BANHISTAS NADADORES EM SEGUNDO LUGAR. AS PROVÁVEIS CAUSAS PARA AMBAS ATIVIDADES SÃO:
* LONGO TEMPO DE EXPOSIÇÃO NA ÁGUA;
* GRANDE NÚMERO DE PRATICANTES AO REDOR DO MUNDO;
* INTENSA MOVIMENTAÇÃO CORPÓREA;
* EXPOSIÇÃO EM PROFUNDIDADES MAIORES.

3) QUAIS AS PRINCIPAIS LOCALIDADES DAS DUAS ATIVIDADES AQUATICAS QUE MAIS ENVOLVEM CASOS DE ATAQUE (SURF E NADO, SEPARADOS EM FATAIS E NÃO FATAIS)?
 
 LOCALIDADES  DE ATAQUES FATAIS PARA OS SURFISTAS: A AUSTRÁLIA É O LOCAL MAIS PERIGOSO PARA A PRÁTICA DESSE ESPORTE, SEGUIDO DA AFRICA DO SUL. O BRASIL FICA EM TERCEIRO LUGAR, COM GRANDE RISCO DE ATAQUE NAS PRAIAS DO RECIFE, EM PERNAMBUCO.
1-Western Australia           6
2-Eastern Cape, South Africa  6
3-Hawaii, USA                 5
4-Pernambuco, Brasil          4
5-South Australia             4


 LOCALIDADES DE ATAQUES NÃO FATAIS PARA OS SURFISTAS (MAS TAMBÉM NÃO MENOS PERIGOSOS): OS ESTADOS UNIDOS, SEGUIDO DA AUTRÁLIA E AFRICA DO SUL.
 
1-Costa da Florida, USA      356 (A COSTA MAIS PERIGOSA DO MUNDO)
2-New South Wales, Austrália  93 (UMA DAS PRAIS MAIS PERIGOSAS DO MUNDO PARA A PRÁTICA DE SURF)
3-California, USA             64
4-Eastern Cape, South Africa  52 (SE DESTACANDO COM UM TOTAL DE 58 ATAQUES À SURFISTAS)
5-Hawaii                      50 

 LOCALIDADES DE ATAQUES FATAIS PARA OS BANHISTAS NADADORES : AUSTRALIA LIDERANDO NOVAMENTE, SEGUIDA DO BEM PERIGOSO LITORAL PERNANBUCANO, AONDE OS TUBARÕES CHEGAM A ATACAR MESMO COM O NÍVEL DA ÁGUA PELA CINTURA.
LOCAIS/OCORRÊNCIAS
1-New South Wales          32 
2-Pernambuco               17 (SE DESTACANDO NO NÚMERO DE ATAQUES FATAIS, COM 21 MORTES TOTAIS CONTABILIZADAS)


 LOCALIDADES DE ATAQUES NÃO FATAIS PARA OS BANHISTAS NADADORES: OS EUA LIDERA, SEGUIDO DA AUSTRÁLIA
1-Florida, USA              114 (LIDERANDO EM NÚMERO DE ATAQUES COM 483 CASOS REGISTRADOS)
2-South Carolina,USA         31
3-Queensland                 28
4-New South Wales,Australia  25
5-Hawaii                     23

4) ANALISANDO E COMPARANDO O NÚMERO DE FATALIDADES COM A VIOLENCIA DOS ATAQUES, QUAL A CONCLUSÃO QUE PODE SE CHEGAR ? 

  DOS 1388 ATAQUES FATAIS PARA CERCA MENOS DE 80 CORPOS DILACERADOS, SOMANDO MENOS DE 6% DO TOTAL DE ATAUQES,OU SEJA, EM GERAL PARA OS TUBARÕES OS HUMANOS NÃO SÃO ATRAENTES COMO FORMA DE ALIMENTO.



 * A CONCLUSÃO É UMA RECOMENDAÇÀO: COMO O ATAQUE DE TUBARÕES  ESTÁ PRATICAMENTE FORA DO CONTROLE DO SER HUMANO, PROCURE SE INFROMAR SOBRE O TEMA ANTES DE DESFRUTAR DE UM LITORAL DESCONHECIDO. E SE FOR SURFAR, PRINCIPALMENTE NA AUSTRÁLIA, HAWAII OU ÁFRICA DO SUL, OU ATÉ MESMO PEGAR UMA PRAIA NO RECIFE OU NA FLORIDA,CUIDADO REDOBRADO!

In [22]:
import pandas as pd
import numpy as np
import os

In [23]:
 os.listdir('data')

['attacks.csv']

In [24]:
# First let's read andBACK UP it!. Enconding corrected for UTF-8 format, No separation sep= issues.
shark = pd.read_csv('data/attacks.csv', encoding = 'latin1')
shark_backup = shark.copy()

In [25]:
#OVERVIEW USING .HEAD()
shark.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [26]:
#ANALISING SIZE (ROWS X COLUMNS)
shark.shape

(25723, 24)

In [27]:
#CHECKING COLUMNS X DTYPES X NON NULL INFORMATION, FOR FURTHER MANIPULATIONS AND HANDLING
shark.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [28]:
#CHECKING THE COLUMNS FOR POSSIBLE CLEANINGS
shark.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [29]:
#CHECKING OVERALL DATASET INFORMATION TO BE AWARE OF THE SUBJECT AND MAIN POINTS, IMPORTANT TO FIRSTLY SELECT THE COLUMNS TO BE USED
#ACCORDING TO THE TYPE OF ANALISYS
shark.head(20)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,...,NaN,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0,NaN,NaN
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,NaN,NaN
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,...,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,NaN,NaN
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,NaN,NaN
9,2018.05.26.a,26-May-2018,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,...,NaN,"K. McMurray, Tracking Sharks.com",2018.05.26.a-DaytonaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.a,2018.05.26.a,6294.0,NaN,NaN
10,2018.05.24,24-May-2018,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,...,Grey reef shark,"ABC.net.au ,05/24/2018",2018.05.24-CairnsAquarium.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.24,2018.05.24,6293.0,NaN,NaN
11,2018.05.21,21-May-2018,2018.0,Unprovoked,USA,South Carolina,"Isle of Palms, Charleston County",Boogie boarding,Trey de Boer,M,...,NaN,"C. Creswell, GSAF",2018.05.21-deBoer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.21,2018.05.21,6292.0,NaN,NaN
12,2018.05.13.b,13-May-2018,2018.0,Unprovoked,USA,South Carolina,"Hilton Head Island, Beaufort County",Swimming,Jei Turrell,M,...,NaN,"C. Creswell, GSAF & K. McMurray TrackingSharks...",2018.05.13.b-Turrell.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.b,2018.05.13.b,6291.0,NaN,NaN
13,2018.05.13.a,13-May-2018,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,...,Invalid incident,"K. McMurray, TrackingSharks.com",2018.05.13.a-Berryman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.a,2018.05.13.a,6290.0,NaN,NaN
14,2018.05.00,May 2018,2018.0,Provoked,AUSTRALIA,Westerm Australia,Dugong Bay,Feeding sharks,Melisa Brunning,F,...,"Tawny nurse shark, 2m","Perth Now, 6/30/2018",2018.05.00-Brunning.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.00,2018.05.00,6289.0,NaN,NaN
15,2018.05.12,12-May-2018,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,"Nahoon Beach, East London",Surfing,male,M,...,NaN,"B.Jacob, Dispatch Live, 5/12/2018",2018.05.12-EastLondon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.12,2018.05.12,6288.0,NaN,NaN
16,2018.05.09,09-May-2018,2018.0,Questionable,AUSTRALIA,New South Wales,"Sharpes Beach, Ballina",Surfing,male,M,...,Shark involvement not confirmed,"B. Myatt, GSAF",2018.05.09-SharpesBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.09,2018.05.09,6287.0,NaN,NaN
17,2018.04.30.R,Reported 30-Apr-2018,2018.0,Unprovoked,THAILAND,Hua Hin,Sai Noi Beach,Swimming,female,M,...,NaN,"K. McMurray, TrackingSharks.com",2018.04.30.R-Thailand.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.30.R,2018.04.30.R,6286.0,NaN,NaN
18,2018.04.28.b,28-Apr-2018,2018.0,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,male,M,...,Tiger shark,Costa Rica Star. 4/28/2018,2018.04.28.b-CostaRica.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.28.b,2018.04.28.b,6285.0,NaN,NaN
19,2018.04.28.a,28-Apr-2018,2018.0,Unprovoked,AUSTRALIA,Western Australia,Gearys Beach,Surfing,Adam Murray,M,...,NaN,"B. Myatt, GSAF",2018.04.28.a-Murray.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.28.a,2018.04.28.a,6284.0,NaN,NaN

In [30]:
#setting column names using list comprehension
col_names = [col.lower().replace(' ','_').replace('.','_').replace(':','_') for col in shark.columns]
shark.columns = col_names
shark.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species_', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number_1', 'case_number_2', 'original_order', 'unnamed__22',
       'unnamed__23'],
      dtype='object')

In [31]:
# dropping useless columns for the specific analisys, remaining from 24 only 14 columns.
shark.drop(['case_number','name','investigator_or_source','pdf','href_formula','href','case_number_1','case_number_2','unnamed__22','unnamed__23'], axis=1, inplace=True)
shark

,date,year,type,country,area,location,activity,sex_,age,injury,fatal_(y/n),time,species_,original_order
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,6303.0
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,6302.0
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,6301.0
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,6300.0
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
# Ordering columns and changing on column names as desired 
shark.columns
col_order = ['original_order','year','date','time', 'type', 'country', 'area', 'location', 'activity',
     'sex_', 'age', 'injury', 'fatal_(y/n)' , 'species_']
len(col_order)
shark = shark.loc[:,col_order]
shark.rename(columns={'original_order':'case_number'},inplace=True)
shark

,case_number,year,date,time,type,country,area,location,activity,sex_,age,injury,fatal_(y/n),species_
0,6303.0,2018.0,25-Jun-2018,18h00,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark
1,6302.0,2018.0,18-Jun-2018,14h00 -15h00,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,NaN
2,6301.0,2018.0,09-Jun-2018,07h45,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,NaN
3,6300.0,2018.0,08-Jun-2018,NaN,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,Minor injury to lower leg,N,2 m shark
4,6299.0,2018.0,04-Jun-2018,NaN,Provoked,MEXICO,Colima,La Ticla,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
#Deleting all unnecessary full null rows, and inplacing it.
shark.dropna(how='all',inplace=True)

In [34]:
# Verify the previous full null rows dropping procedure
shark.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6309 entries, 0 to 6308
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  6309 non-null   float64
 1   year         6300 non-null   float64
 2   date         6302 non-null   object
 3   time         2948 non-null   object
 4   type         6298 non-null   object
 5   country      6252 non-null   object
 6   area         5847 non-null   object
 7   location     5762 non-null   object
 8   activity     5758 non-null   object
 9   sex_         5737 non-null   object
 10  age          3471 non-null   object
 11  injury       6274 non-null   object
 12  fatal_(y/n)  5763 non-null   object
 13  species_     3464 non-null   object
dtypes: float64(2), object(12)
memory usage: 739.3+ KB

In [54]:
#cheking if there are full duplicated rows
shark[shark.duplicated()]

Empty DataFrame
Columns: [case_number, year, date, time, type, country, area, location, activity, sex_, age, injury, fatal_(y/n), species_, major_activity, major_injury]
Index: []

In [39]:
# Listing the aquatic attack activity  types in order of occurrence, counting values in the column
activity_count = shark['activity'].value_counts()
activity_count

Surfing                                   971
Swimming                                  869
Fishing                                   431
Spearfishing                              333
Bathing                                   162
                                         ...
Playing with a frisbee in the shallows      1
Sinking of the ferryboat Dumaguete          1
Wreck of the Storm King                     1
Feeding mullet to sharks                    1
Wreck of  large double sailing canoe        1
Name: activity, Length: 1532, dtype: int64

In [40]:
#creating a mask to list the 5 most often aquatic activities attack cases using lamba funtion
shark['activity'].apply(lambda x: x if x in activity_count.head().index else np.nan)

0           NaN
1           NaN
2       Surfing
3       Surfing
4           NaN
         ...
6304        NaN
6305        NaN
6306        NaN
6307        NaN
6308        NaN
Name: activity, Length: 6309, dtype: object

In [41]:
#creating a column showing the only the 5 most often aquatic activities cases, using lambda function
shark['major_activity'] = shark['activity'].apply(lambda x: x if x in activity_count.head().index else np.nan)
shark['major_activity']

0           NaN
1           NaN
2       Surfing
3       Surfing
4           NaN
         ...
6304        NaN
6305        NaN
6306        NaN
6307        NaN
6308        NaN
Name: major_activity, Length: 6309, dtype: object

,case_number,year,date,time,type,country,area,location,activity,sex_,age,injury,fatal_(y/n),species_,major_injury
major_activity,,,,,,,,,,,,,,,
Bathing,162,162,162,45,162,160,149,156,162,156,53,161,149,33,75
Fishing,431,431,431,114,430,431,397,398,431,338,132,430,412,264,52
Spearfishing,333,332,333,162,333,332,304,309,333,318,221,333,309,255,65
Surfing,971,971,971,749,970,970,966,959,971,946,778,965,933,591,259
Swimming,869,868,869,448,869,862,824,821,869,846,564,867,780,406,312

In [55]:
# Listing the 30 most often injury types in order of occurrence, counting values in the column
injury_count = shark['injury'].value_counts()
injury_count.head(60)

FATAL                               802
Survived                             97
Foot bitten                          87
No injury                            82
Leg bitten                           72
Left foot bitten                     50
No details                           43
Right foot bitten                    39
No injury, board bitten              31
Hand bitten                          29
Thigh bitten                         27
FATAL, body not recovered            24
Calf bitten                          22
Minor injury                         22
Foot lacerated                       21
Right leg bitten                     20
Lacerations to foot                  20
Arm bitten                           20
Lacerations to right foot            18
Lacerations to left foot             18
Ankle bitten                         17
Right calf bitten                    16
Heel bitten                          14
No injury to occupants               14
Minor injuries                       14
No injury, surfboard bitten          13
Left leg bitten                      13
Foot severed                         13
Left arm bitten                      13
Leg injured                          13
Right thigh bitten                   12
Leg lacerated                        12
Leg severed                          12
FATAL, leg severed                   11
No injury, kayak bitten              11
Lacerations to leg                   11
Left calf bitten                     11
Legs bitten                          10
Lacerations to lower leg             10
Lacerations to right leg             10
Laceration to left foot              10
Thigh lacerated                      10
Lacerations to right hand            10
Right foot lacerated                  9
Left foot lacerated                   9
Left hand bitten                      9
Probable drowning & scavenging        9
Lacerations to left calf              8
No injury, shark bit surfboard        8
Hand lacerated                        8
Arm severed                           8
FATAL                                 8
Knee bitten                           8
Leg bitten, surgically amputated      8
Arm lacerated                         8
Lacerations to hand                   8
Lacerations to arm                    8
Puncture wounds to foot               8
Laceration to leg                     8
Forearm bitten                        7
Name: injury, dtype: int64

In [56]:
##creating a mask to list the 5 most often aquatic activities cases using lambda function
shark['injury'].apply(lambda x: x if x in injury_count.head(30).index else np.nan)

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
6304    NaN
6305    NaN
6306    NaN
6307    NaN
6308    NaN
Name: injury, Length: 6309, dtype: object

In [57]:
#creating a column showing only the 5 most often aquatic activities cases, using lamba function
shark['major_injury'] = shark['injury'].apply(lambda x: x if x in injury_count.head(30).index else np.nan)
shark['major_injury']

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
6304    NaN
6305    NaN
6306    NaN
6307    NaN
6308    NaN
Name: major_injury, Length: 6309, dtype: object

In [111]:
#finding the fatal cases proportion per attack activity type using groupby function. (major_activity / major_injury )calculation
shark_count = shark.groupby(by=['major_activity']).count().reset_index()
shark_count

,major_activity,case_number,year,date,time,type,country,area,location,activity,sex_,age,injury,fatal_(y/n),species_,major_injury
0,Bathing,162,162,162,45,162,160,149,156,162,156,53,161,149,33,75
1,Fishing,431,431,431,114,430,431,397,398,431,338,132,430,412,264,52
2,Spearfishing,333,332,333,162,333,332,304,309,333,318,221,333,309,255,65
3,Surfing,971,971,971,749,970,970,966,959,971,946,778,965,933,591,259
4,Swimming,869,868,869,448,869,862,824,821,869,846,564,867,780,406,312

In [58]:
# Listing the countries in order of occurrence counting values in the column, to answer question n.4
country_count = shark['country'].value_counts() 
country_count.head(5)

USA                 2229
AUSTRALIA           1338
SOUTH AFRICA         579
PAPUA NEW GUINEA     134
NEW ZEALAND          128
Name: country, dtype: int64

In [59]:
#checking if the columns were correctly added
shark.head()

,case_number,year,date,time,type,country,area,location,activity,sex_,age,injury,fatal_(y/n),species_,major_activity,major_injury
0,6303.0,2018.0,25-Jun-2018,18h00,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,White shark,NaN,NaN
1,6302.0,2018.0,18-Jun-2018,14h00 -15h00,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,11,Minor injury to left thigh,N,NaN,NaN,NaN
2,6301.0,2018.0,09-Jun-2018,07h45,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,48,Injury to left lower leg from surfboard skeg,N,NaN,Surfing,NaN
3,6300.0,2018.0,08-Jun-2018,NaN,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,NaN,Minor injury to lower leg,N,2 m shark,Surfing,NaN
4,6299.0,2018.0,04-Jun-2018,NaN,Provoked,MEXICO,Colima,La Ticla,Free diving,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,"Tiger shark, 3m",NaN,NaN

In [60]:
#Analasing the fatal case number, to compare with the most violent attack cases, to have a further conclusion
shark[shark['fatal_(y/n)']=='Y']

,case_number,year,date,time,type,country,area,location,activity,sex_,age,injury,fatal_(y/n),species_,major_activity,major_injury
6,6297.0,2018.0,03-Jun-2018,Late afternoon,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,M,18,FATAL,Y,Tiger shark,Swimming,FATAL
58,6245.0,2017.0,30-Nov-2017,NaN,Unprovoked,COSTA RICA,Cocos Island,Manuelita,Scuba diving,F,49,FATAL,Y,"Tiger shark, female",NaN,FATAL
59,6244.0,2017.0,Reported 25-Nov-2017,NaN,Sea Disaster,LIBYA,NaN,Gars Garabulli,2 boats capsized,NaN,NaN,FATAL,Y,Some drowned but other may have been killed by...,NaN,FATAL
64,6239.0,2017.0,04-Nov-2017,23h30,Unprovoked,CUBA,Holquin Province,Guardalavaca Beach,Night bathing,M,22,FATAL,Y,Tiger shark,NaN,FATAL
91,6212.0,2017.0,03-Sep-2017,Morning,Unprovoked,SOUTH AFRICA,Western Cape Province,Dyer Island,"Swimming, poaching abalone",M,NaN,FATAL,Y,NaN,NaN,FATAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,6.0,0.0,Before 1903,NaN,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,M,NaN,FATAL,Y,NaN,NaN,FATAL
6298,5.0,0.0,Before 1903,NaN,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,M,NaN,FATAL,Y,NaN,NaN,FATAL
6299,4.0,0.0,1900-1905,NaN,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,M,NaN,FATAL,Y,NaN,Swimming,FATAL
6300,3.0,0.0,1883-1889,NaN,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,M,NaN,FATAL,Y,NaN,NaN,FATAL
6301,2.0,0.0,1845-1853,NaN,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,Swimming,NaN

In [61]:
#Analasing the main aquatic activity  attack fatal cases, with most ocurrencies locations, using mask filter
fatal_surf = shark[(shark['major_activity'] == 'Surfing') & (shark['fatal_(y/n)']=='Y')]
fatal_surf['area'].value_counts().head()

Western Australia        6
Eastern Cape Province    6
Hawaii                   5
Pernambuco               4
South Australia          4
Name: area, dtype: int64

In [65]:
pd.options.display.max_rows = 600

In [62]:
#Analasing the main aquatic activity  attack non fatal cases, with most ocurrencies locations, using mask filter
fatal_surf = shark[(shark['major_activity'] == 'Surfing') & (shark['fatal_(y/n)']=='N')]
fatal_surf['area'].value_counts().head()

Florida                  356
New South Wales           93
California                64
Eastern Cape Province     52
Hawaii                    50
Name: area, dtype: int64

In [194]:
#Analasing the second main aquatic activity  attack fatal cases, with most ocurrencies locations, using mask filter
fatal_swimming = shark[(shark['major_activity'] == 'Swimming') & (shark['fatal_(y/n)']=='Y')]
fatal_swimming ['area'].value_counts().head()

New South Wales          32
Pernambuco               17
Florida                  13
Queensland               13
Western Cape Province    12
Name: area, dtype: int64

In [196]:
#Analasing the second main aquatic activity  attack non fatal cases, with most ocurrencies locations, using mask filter
fatal_swimming = shark[(shark['major_activity'] == 'Swimming') & (shark['fatal_(y/n)']=='N')]
fatal_swimming ['area'].value_counts().head()

Florida            114
South Carolina      31
Queensland          28
New South Wales     25
Hawaii              23
Name: area, dtype: int64